aiohappyeyeballs
aiohttp
aiosignal
amqp
annotated-types
anyio
asgiref
attrs
bcrypt
billiard
blinker
cachetools
celery
cffi
charset-normalizer
click
click-default-group
click-didyoumean
click-plugins
click-repl
colorama
colorlogs
cryptography
distlib
Django
ecdsa
facebook-sdk
Faker
fastapi
filelock
Flask
Flask-Cors
Flask-Login
Flask-Script
Flask-SQLAlchemy
Flask-WTF
frozenlist
google-auth
google-genai
greenlet
h11
httpcore
httpx
idna==
ipinfo
itsdangerous
Jinja2
kombu
MarkupSafe
msgpack
multidict
orjson
packaging
passlib
pillow
pipenv
platformdirs
pluggy
prompt_toolkit
propcache
pyasn1_modules
pycparser
pydantic
pydantic_core
pyfiglet
pynvim
python-dateutil
python-jos
pytz
pyzbar
qrcode
requests
rsa
setuptools
sniffio
SQLAlchemy
sqlite-fts4
sqlite-utils
sqlparse
starlette
tabulate
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
virtualenv
wcwidth
websockets
Werkzeug
WTForms
yarl
gunicorn
